<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a15862.mytraveldiary">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjCrdGmiesceyoZTwl--AVr_KRkFYhXMs" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".MapActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".AddDiaryActivity"
            android:label="Add new Diary" />
        <activity
            android:name=".ClickNotExistActivity"
            android:label="Add new place"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".ClickExistActivity"
            android:label="Place info"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".ViewAllDiaryActivity" />
        <activity android:name=".Register1Activity" />
        <activity android:name=".Register2Activity" />
        <activity android:name=".Register3Activity" />
        <activity android:name=".LoginNewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModifyActivity" />
        <activity
            android:name=".AddFriendsActivity"
            android:label="Add new friends" />
        <activity android:name=".ViewAllFriendsActivity" />
        <activity
            android:name=".MyWelcomeActivity"
            android:theme="@style/WelcomeScreenTheme" />
        <activity android:name=".ViewCommentsActivity" />
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>